{% extends "attendance/layout.html" %}

{% block stylesheets %}
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
      <form action="{% url 'attendance:login' %}" method="post" class="form-signin" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <input type="email" class="form-control" name="username" placeholder="Username" {% if retry %}value="{{ username }}"{% endif %} required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" {% if retry %}value="{{ password }}"{% endif %} required>
        <!--label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
{% endblock %}
